# Obsidian local state
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/cache/
.obsidian/plugins/

# Astro and Node
.astro/
dist/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.production
.env.local
.env*.local
.idea/

# macOS
.DS_Store

# macOS
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# agents
.claude
.codex
.gemini
.vercel
